:root {

    --clr-Slate-300: #d6e2f0;
    --clr-Slate-500: #68778d;
    --clr-Slate-900: #1f3251;

    --clr-ff: "Outfit", sans-serif;
    --clr-fs: 15px;
    --clr-fw-400: 400;
    --clr-fw-700: 700;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
    font-style: italic;
    color: var(--clr-Slate-900);
}

body {
    font-family: var(--clr-ff);
    font-size: var(--clr-fs);
    font-weight: var(--clr-fw-400);
    color: var(--clr-Slate-500);
    background: var(--clr-Slate-300);
}

p {
    line-height: 1.4;
}

/* text styles */

.card-title {
    font-size: 1.75rem;
    font-weight: var(--clr-fw-700);
    color: var(--clr-Slate-900);
    margin-bottom: 1.25rem;
    
}

.card-description {
    font-size: 1.220rem;
    margin-bottom: 2rem;
}

/* layout styles */

.card {
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.card-container {
    width: 25rem;
    text-align: center;
    padding: 1.25rem;
    border-radius: 1.5rem;
    background: #fff;
}

/* general styles */

.qr-img {
    border-radius: .7rem;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 1rem;
    margin-bottom: 1rem;
}